*{
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

.top-header {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

body {
  width: 100%;
  height: 100%;
  background-color: #4b2e83;
  overflow-x: hidden;
  font-size: 100%;
  line-height: 1.5;
  font-family: 'Quicksand', sans-serif;
}
aside a {
  text-decoration: none;
  color: #4b2e83;
}
aside a:hover {
  text-decoration: underline;
  color: #b7a57a;
}
.book {
  font-size: 150%;
}

.hero-text {
  font-size: 60px;
  margin-left: 1rem;
  font-family: 'Quicksand', sans-serif;

}
.sidebar{
  font-size: 40px;
  font-family: 'Shadows Into Light', cursive;
  color: #4b2e83;
}
.hero-subtext {
  font-size: 30px;
  margin-left: 1rem;
  font-family: 'Shadows Into Light', cursive;
}
.first-header {
  font-size: 50px;
  font-family: 'Shadows Into Light', cursive;
}

.side-head {
  font-size: 40px;
  color: #85754d;
}

.body-header {
  font-size: 50px;
}

ul {
  list-style-type: none;
}

blockquote {
  font-size: 30px;
  color: #4b2e83;
  font-family: 'Shadows Into Light', cursive;
}

header, footer{
  width: 100%;
  padding: 2em;
  color: #FFFFFF;
}

header {
  background-color: #85754d;
  text-align: left;
}

.main {
  display: flex;
  height: 100%;
  font-size: 20px;
  align-content: flex-start;
}

aside {
  padding: 1em;
  padding-right: 3em;
  background-color: white;
  width: 100%;
}
section {
  padding: 1em;
  padding-right: 3em;
  background-color: white;
  width: 100%;
}

nav {
  background-color: #e8e9eb;
}

.wide-img {
  width: 100%;
}

.nav-bar {
  background-color: #e8e9eb;
  flex-flow: row wrap;
}
.nav-links {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  width: 50%;
}

.content {
  background-color: white;
  padding: 2em;
}

footer {
  background-color: #85754d;
  padding-top: 1em;
  padding-left: 20em;
  padding-right: 20em;
  padding-bottom: 1em;
  position: relative;
  flex-flow: row wrap;
  text-align: center;
}
.flex-footer {
  display: flex;
  justify-content: space-between;
  font-size: 5em;
}
